
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-3" style="margin-top:10px;">
        <img src="~/Images/logoUpaxer.png" width="150" />        
    </div>
    <div class="col-md-9">
        <h3>Registrar nuevo usuario</h3>
        <div class="col-md-6">
            <label>Nombre</label>
            <input type="text" class="form-control" />
            <label>Correo</label>
            <input type="text" class="form-control" />
            <label>Contraseña</label>
            <input type="text" class="form-control" />            
        </div>
        <div class="col-md-6">
            <label>Apellido</label>
            <input type="text" class="form-control" />
            <label>Celular</label>
            <input type="text" class="form-control" />
            <label>Valida Contraseña</label>
            <input type="text" class="form-control" />
            <br />
            <div class="text-right">
                <input type="button" name="name" value="Registrar" class="btn btn-warning" />
            </div>           
        </div>
    </div>
</div>

