
<div class="row">
    <div class="col-md-2">
        <span class="glyphicon glyphicon-user" style="font-size:150px; margin-top:10px;">

        </span>
    </div>
    <div class="col-md-10">
        <h2>Bienvenido</h2>
        <h3>@ViewBag.Login.Usr_Name</h3>
        <h3>@ViewBag.Login.Usr_LastName</h3>
    </div>
</div>

